<!--
A Bubble Menu that appears when clicking on a PrettyLink in the editor.
It will allow changing the URL and opening the link in a new window.
-->
<template>
    <bubble-menu
        :editor="editor"
        :plugin-key="'link-bubble-menu'"
        :should-show="shouldShow"
        :tippy-options="{ duration: 100 }"
        v-if="editor"
    >
        <div class="link-bubble-menu-content">
            <label>
                URL
                <input
                    @change="changeLink"
                    :class="{ 'is-active': editor.isActive('bold') }"
                    :value="editor.getAttributes('prettyLink').href"
                /> </label
            ><br />
            <a
                @click="handlePrettyLinkClick(widget, $event, true)"
                :href="editor.getAttributes('prettyLink').href"
                target="_BLANK"
            >
                Open Link
            </a>
        </div>
    </bubble-menu>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { BubbleMenu } from '@tiptap/vue-3'
import { handlePrettyLinkClick } from '../lib/extensions/prettylink'

export default defineComponent({
    components: { BubbleMenu },
    props: {
        editor: {
            type: Object,
            required: true,
        },
    },
    setup(props) {
        const shouldShow = ({ editor }: any) => {
            // Only show the bubble menu when a PrettyLink is selected.
            return editor.isActive('prettyLink')
        }

        const changeLink = (event: any) => {
            if (event.target.value === '') {
                // Remove the PrettyLink, because the new URL is empty
                props.editor
                    .chain()
                    .focus()
                    .extendMarkRange('prettyLink')
                    .unsetPrettyLink({ href: event.target.value })
                    .run()
            } else {
                // Update the URL of the PrettyLink
                props.editor
                    .chain()
                    .focus()
                    .extendMarkRange('prettyLink')
                    .setPrettyLink({ href: event.target.value })
                    .run()
            }
        }

        return { shouldShow, changeLink, handlePrettyLinkClick }
    },
})
</script>

<style scoped>
.link-bubble-menu-content {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem;
}
</style>
