<!--
The toolbar at the top of the editor. This controls basic formatting
of the current text.
-->
<template>
    <div v-if="editor" class="controls">
        <button
            class="icon icon-bold"
            @click="editor.chain().focus().toggleBold().run()"
            :class="{ 'is-active': editor.isActive('bold') }"
            title="Bold"
        >
            <bold-icon></bold-icon>
        </button>
        <button
            class="icon icon-italic"
            @click="editor.chain().focus().toggleItalic().run()"
            :class="{ 'is-active': editor.isActive('italic') }"
            title="Italic"
        >
            <italic-icon></italic-icon>
        </button>
        <button
            class="icon icon-strike"
            @click="editor.chain().focus().toggleStrike().run()"
            :class="{ 'is-active': editor.isActive('strike') }"
            title="Strikethrough"
        >
            <strikethrough-icon></strikethrough-icon>
        </button>
        <button
            class="icon icon-code"
            @click="editor.chain().focus().toggleCode().run()"
            :class="{ 'is-active': editor.isActive('code') }"
            title="Inline Code"
        >
            <code-inline-icon></code-inline-icon>
        </button>
        <button
            class="icon icon-highlight"
            @click="editor.chain().focus().toggleHighlight().run()"
            :class="{ 'is-active': editor.isActive('highlight') }"
            title="Highlight"
        >
            <highlight-icon></highlight-icon>
        </button>
        <div class="divider"></div>
        <button
            class="icon icon-paragraph"
            @click="editor.chain().focus().setParagraph().run()"
            :class="{ 'is-active': editor.isActive('paragraph') }"
            title="Paragraph"
        >
            <paragraph-icon></paragraph-icon>
        </button>
        <button
            class="icon icon-h1"
            @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
            :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }"
            title="Heading 1"
        >
            <h1-icon></h1-icon>
        </button>
        <button
            class="icon icon-h2"
            @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
            :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }"
            title="Heading 2"
        >
            <h2-icon></h2-icon>
        </button>
        <button
            class="icon icon-h3"
            @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
            :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }"
            title="Heading 3"
        >
            <h3-icon></h3-icon>
        </button>
        <div class="divider"></div>
        <button
            class="icon icon-ul"
            @click="editor.chain().focus().toggleBulletList().run()"
            :class="{ 'is-active': editor.isActive('bulletList') }"
            title="Bullet List"
        >
            <list-unordered-icon></list-unordered-icon>
        </button>
        <button
            class="icon icon-ol"
            @click="editor.chain().focus().toggleOrderedList().run()"
            :class="{ 'is-active': editor.isActive('orderedList') }"
            title="Ordered List"
        >
            <list-ordered-icon></list-ordered-icon>
        </button>
        <button
            class="icon icon-task-list"
            @click="editor.chain().focus().toggleTaskList().run()"
            :class="{ 'is-active': editor.isActive('taskList') }"
            title="Checkbox List"
        >
            <list-check-icon></list-check-icon>
        </button>
        <div class="divider"></div>
        <button
            class="icon icon-code-block"
            @click="editor.chain().focus().toggleCodeBlock().run()"
            :class="{ 'is-active': editor.isActive('codeBlock') }"
            title="Code Block"
        >
            <code-block-icon></code-block-icon>
        </button>
        <button
            class="icon icon-tw"
            @click="editor.chain().focus().setTwBlock().run()"
            :class="{ 'is-active': editor.isActive('twBlock') }"
            title="TiddlyWiki Block"
        >
            TW
        </button>
        <button
            class="icon icon-quote"
            @click="editor.chain().focus().toggleBlockquote().run()"
            :class="{ 'is-active': editor.isActive('blockquote') }"
            title="Quote"
        >
            <quote-icon></quote-icon>
        </button>
        <div class="divider"></div>
        <button
            class="icon icon-hr"
            @click="editor.chain().focus().setHorizontalRule().run()"
            title="Horizontal Rule"
        >
            <horizontal-rule-icon></horizontal-rule-icon>
        </button>
        <button
            class="icon icon-br"
            @click="editor.chain().focus().setHardBreak().run()"
            title="Hard Break"
        >
            <line-break-icon></line-break-icon>
        </button>
        <div class="divider"></div>
        <button
            class="icon icon-clear"
            @click="editor.chain().focus().unsetAllMarks().run()"
            title="Clear Format"
        >
            <clear-format-icon></clear-format-icon>
        </button>
        <button
            class="icon icon-undo"
            @click="editor.chain().focus().undo().run()"
            title="Undo"
        >
            <undo-icon></undo-icon>
        </button>
        <button
            class="icon icon-redo"
            @click="editor.chain().focus().redo().run()"
            title="Redo"
        >
            <redo-icon></redo-icon>
        </button>
    </div>
</template>

<script lang="ts">
import { Editor } from '@tiptap/vue-3'
import { defineComponent } from 'vue'
import * as icons from './icons'
export default defineComponent({
    components: { ...icons },
    props: {
        editor: Editor,
    },
    setup() {
        return {}
    },
})
</script>

<style scoped>
.controls {
    display: flex;
}
.icon > * {
    height: 1rem;
    width: 1rem;
    margin-top: 3px;
}
.icon /deep/ svg {
    fill: currentColor;
}
.icon {
    color: black;
    border-radius: 0.4rem;
    background-color: transparent;
    border: 2px solid transparent;
    margin: 1px;
}
.icon:hover {
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
}
.icon.is-active {
    background-color: black;
}
.icon.is-active /deep/ svg {
    filter: invert(1);
}
.icon.is-active:hover {
    border: 2px solid black;
    background-color: white;
}

.icon.is-active:hover /deep/ svg {
    filter: invert(0);
}
</style>
