<!--
Setup the TipTap editor and display it.

All the configuration for the TipTap editor is done in this component.
-->
<template>
    <div class="prosary">
        <prosary-controls
            v-if="editable"
            class="prosary-controls"
            :editor="editor"
        ></prosary-controls>
        <link-bubble-menu :editor="editor"></link-bubble-menu>
        <editor-content
            class="editor"
            :class="{ editable, readonly: !editable }"
            :editor="editor"
        />
    </div>
</template>

<script lang="ts">
import { Editor, EditorContent } from '@tiptap/vue-3'
import StarterKit from '@tiptap/starter-kit'
import { defineComponent, onBeforeUnmount, onMounted, ref, inject } from 'vue'
import {
    BaseWidgetBridge,
    MockWidgetBridge,
    WidgetBridge,
} from '../lib/widgetbridge'
import ProsaryControls from './ProsaryControls.vue'
import { Highlight } from '@tiptap/extension-highlight'
import { TaskList } from '@tiptap/extension-task-list'
import { TaskItem } from '@tiptap/extension-task-item'
import { makeTwBlockExtension } from '@/lib/extensions/twblock'
import { PrettyLink } from '@/lib/extensions/prettylink'
import { Blockquote } from '@tiptap/extension-blockquote'
import { Typography } from '@tiptap/extension-typography'
import { TW, Widget, Wiki } from '@/types/tiddlywikitypes'
import { Div } from '@/lib/extensions/div'
import LinkBubbleMenu from './LinkBubbleMenu.vue'
import { ColourHighlighter } from '@/lib/extensions/colourhighlighter'
import { lowlight } from 'lowlight/lib/core'
import { CodeBlockLowlight } from '@tiptap/extension-code-block-lowlight'
import { Heading } from '@tiptap/extension-heading'
import { MacroDefinition } from '@/lib/extensions/macrodefinition'
import { getLocalMacroDefinitions } from '@/lib/twrender'

export default defineComponent({
    components: { LinkBubbleMenu, ProsaryControls, EditorContent },
    setup: function () {
        let editor = ref()
        // editable, tw, wiki, and widget are provided when TiddlyWiki
        // instantiates the VueJS app in the TiddlyWiki widget.
        // See plugin/widgets/prosary.js
        const editable: boolean | undefined = inject('editable')
        // The $tw global from TiddlyWiki
        const tw: TW = inject('tw')
        // The wiki global from TiddlyWiki
        const wiki: Wiki = inject('wiki')
        // The instance of the Prosary TiddlyWiki widget
        const widget: Widget = inject('widget')
        const renderedHTML = ref()

        let bridge: BaseWidgetBridge = new MockWidgetBridge()
        if (tw) {
            bridge = new WidgetBridge(tw, wiki, widget)
        } else {
            // The editor can be viewed when not instantiated
            // from TiddlyWiki for development.
            console.log('tw is not defined. Using mock bridge.')
        }

        onMounted(() => {
            const content = bridge.getStructuredData()
            let macroDefinitions = ''
            if (content && content.content) {
                macroDefinitions = getLocalMacroDefinitions(content.content)
            }

            editor.value = new Editor({
                content,
                editable,
                extensions: [
                    StarterKit,
                    Highlight,
                    TaskList,
                    TaskItem,
                    Div,
                    makeTwBlockExtension(editable || false).configure({
                        tw,
                        wiki,
                        widget,
                        macroDefinitions,
                        editable,
                    }),
                    PrettyLink.configure({ tw, wiki, widget }),
                    Blockquote,
                    Typography,
                    ColourHighlighter,
                    CodeBlockLowlight.configure({
                        lowlight,
                    }),
                    TaskList,
                    TaskItem.configure({
                        nested: true,
                    }),
                    Heading.configure({ levels: [1, 2, 3, 4, 5] }),
                    MacroDefinition.configure({ editable }),
                ],
                onUpdate: () => {
                    macroDefinitions = getLocalMacroDefinitions(content.content)
                    bridge.save(editor.value.getJSON())
                },
            })

            if (!editable) {
                renderedHTML.value = editor.value.getHTML()
            }
        })

        onBeforeUnmount(() => {
            if (editor.value) {
                editor.value.destroy()
            }
        })

        return {
            editor,
            editable,
            renderedHTML,
        }
    },
})
</script>

<style scoped>
.prosary {
    /*max-width: 600px;*/
    margin: 0 auto 4rem auto;
}
.prosary-controls {
}
.editor {
    background-color: #f8f8f8;
    padding: 3px 3px 3px 3px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
}
.editor /deep/ [contenteditable],
[contenteditable]:focus,
[contenteditable]:active {
    outline: none;
}

.editor /deep/ p {
    margin: 0;
}

.editor.readonly {
    background-color: #ffffff;
    padding: 3px 3px 3px 3px;
    border: none;
    box-shadow: none;
    padding: 0.5rem;
}
</style>
