<!--
    Displays TiddlyWikiText as editable markup and shows a preview
    of the rendered output.

    If the editor is read-only then only the rendered output is displayed.
-->

<!--
The node-view-content is required even if the editor is read-only. That's why
the wikitext is hidden with display:None while the editor is read-only.
-->
<template>
    <node-view-wrapper class="dom">
        <node-view-content
            class="content-dom"
            :style="{ display: editable ? 'block' : 'none' }"
            as="pre"
        />
        <div :class="preview" v-html="widgetHtml"></div>
    </node-view-wrapper>
</template>

<script lang="ts">
import { computed, defineComponent, inject, onMounted, ref } from 'vue'
import { NodeViewWrapper, NodeViewContent } from '@tiptap/vue-3'
import { TW, Wiki } from '@/types/tiddlywikitypes'
import {
    flattenToMarkup,
    getLocalMacroDefinitions,
    renderTwWikitext,
} from '@/lib/twrender'

export default defineComponent({
    components: { NodeViewWrapper, NodeViewContent },
    props: {
        node: {
            type: Object,
            required: true,
        },
        updateAttributes: {
            type: Function,
            required: true,
        },
        editor: {
            type: Object,
            required: true,
        },
    },
    setup(props) {
        const tw: TW = inject('tw')
        const wiki: Wiki = inject('wiki')
        const wikiText = ref()
        const widgetHtml = computed(() => {
            if (!wikiText.value) {
                return ''
            }

            const macroDefinitions = getLocalMacroDefinitions(
                props.editor.state.doc.content.content
            )
            return renderTwWikitext(wiki, macroDefinitions, wikiText.value)
        })

        onMounted(() => {
            wikiText.value = flattenToMarkup(props.node)
        })

        // It appears that VueNodeView calls this setup with unreactive props
        // and later calls reactive(props) to turn them reactive in VueRenderer.
        // This means we cannot use
        // watch( () => props.node, (value, oldValue) => {})
        // Instead we can listen for editor updates and re-render.
        let prevNodeValue = JSON.stringify(props.node)
        props.editor.on('update', () => {
            console.log('Update')
            let currentNodeValue = JSON.stringify(props.node)
            if (currentNodeValue !== prevNodeValue) {
                wikiText.value = flattenToMarkup(props.node)
            }
            prevNodeValue = currentNodeValue
        })
        return { widgetHtml, editable: props.editor.options.editable }
    },
})
</script>

<style scoped>
.content-dom {
    /*border: 1px solid #cccccc;*/
    /*box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);*/
    font-family: monospace;
    background-color: rgb(230, 226, 226);
    display: block;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.preview {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
</style>
