<template>
    <ProsaryEditor />
</template>

<script lang="ts">
import ProsaryEditor from './components/ProsaryEditor.vue'
import { defineComponent } from 'vue'

export default defineComponent({
    components: { ProsaryEditor },
})
</script>

<style></style>
